<table class="custom-table">
    <thead class="custom-header">
      <tr>
        <th scope="col" class="first-column">Indicadores</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Porcentaje</th>
        <th scope="col">Max Permitido</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody class="custom-body">
      <tr *ngFor="let item of tablaMetricasData">
        <td class="first-column">{{item.Indicadores}}</td>
        <td>{{item.Cantidad}}</td>
        <td>{{item.Porcentaje}} %</td>
        <td>{{item.MaxPermitido}}</td>
        <td>{{item.Estado}}</td>
      </tr>
    </tbody>
  </table>
