<table class="custom-table">
    <thead class="custom-header">
      <tr>
        <th scope="col" class="first-column">Indicadores</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Porcentaje</th>
        <th scope="col">Max Permitido</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody class="custom-body">
      <tr>
        <td class="first-column">Cancelaciones</td>
        <td>{{numeroCancelaciones()}}</td>
        <td>{{porcentajeCancelaciones()}}%</td>
        <td>Media</td>
        <td>Excelente</td>
      </tr>
      <tr>
        <td class="first-column">Tiempos de entrega</td>
        <td>1</td>
        <td>0,00%</td>
        <td>Media</td>
        <td>Excelente</td>
      </tr>
      <tr>
        <td class="first-column">Mediaciones</td>
        <td>2</td>
        <td>0,00%</td>
        <td>Media</td>
        <td>Excelente</td>
      </tr>
      <tr>
        <td class="first-column">Reclamos</td>
        <td>{{numeroReclamos()}}</td>
        <td>{{porcentajeReclamos()}}%</td>
        <td>Media</td>
        <td>Excelente</td>
      </tr>
    </tbody>
  </table>
