.custom-table{
    width: 800px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.custom-body{
    background-color: black;
    padding: 5px;

}
.custom-header{
    padding: 5px;
    background-color:rgb(14, 13, 13);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

th, td {
    border: 0.1px solid black;
    padding: 10px;
    text-align: center; /* Centrar horizontalmente */   
}
th{
    border: 0.1px solid rgb(14, 13, 13);

}

table {
    border-collapse: separate; /* Necesario para que border-radius funcione */
    border-spacing: 0; /* Espaciado entre celdas */
    width:100%;
    margin: 10px 0;
    border: 0.1px solid black;
    border-radius: 10px;
    overflow: hidden; /* Para asegurarse de que las celdas respeten los bordes redondeados */
}

.first-column{
    text-align: start;
}

.acciones{
    display: flex;
    justify-content: space-around;
    width: 120px;
}
#searchInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  #addButton {
    padding: 10px 20px;
    border-color: #007bff;
    background-color: rgb(18,18,18);
    color: #007bff;
    
    border-radius: 15px;
    cursor: pointer;
    padding-left: 20px;
  }

  .search-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .container{
    max-width: 820px;
  margin: 20px auto;
  padding: 10px;
  }