<table class="custom-table">
    <thead class="custom-header">
      <tr>
        <th scope="col" class="first-column">Indicadores</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Detalle</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody class="custom-body">
      <tr>
        <td class="first-column">Publicaciones Activas</td>
        <td>80</td>
        <td>Subieron 4</td>
        <td>Excelente</td>
      </tr>
      <tr>
        <td class="first-column">Perdiendo exposición</td>
        <td>0</td>
        <td>Buen nivel de stock, la causa son los reclamos/mediaciones</td>
        <td>Excelente</td>
      </tr>
      <tr>
        <td class="first-column">Foto</td>
        <td>0</td>
        <td>Baja calidad en las fotos</td>
        <td>Excelente</td>
      </tr>
      <tr>
        <td class="first-column">Pausadas</td>
        <td>21</td>
        <td>Buen nivel de stock</td>
        <td>Excelente</td>
      </tr>
      <tr>
        <td class="first-column">Sin stock</td>
        <td>30</td>
        <td>Buen nivel de ventas, posibilidad de reponer</td>
        <td>Excelente</td>
      </tr>
      <tr>
        <td class="first-column">Descripciones incompletas</td>
        <td>-</td>
        <td>Descripciones, preguntas frecuentes</td>
        <td>Excelente</td>
      </tr>
    </tbody>
  </table>
