<app-navbar></app-navbar>
<app-card-shop [infoCard]="infoCard" [calification]="getCalification(infoCard.seller.seller_reputation.level_id)" style="width: 25%;position:fixed"></app-card-shop>
<div class="dashboard">
    <div class="content-page">
        <div class="buttons">
            <div class="button">
                <app-button-main buttonText="Información"></app-button-main>
            </div>
            <div class="button">
                <app-button-main buttonText="Actualizar"></app-button-main>
            </div>
            <div class="button">
                <app-button-main buttonText="Guardar"></app-button-main>
            </div>
        </div>
        <div class="info-cards">
            <div class="info-card">
                <app-card-info-puntual [parametroLabel]="parametroLabel1"
                                       [valorParametro]="valorParametro1"></app-card-info-puntual>
            </div>
            <div class="info-card">
                <app-card-info-puntual [parametroLabel]="parametroLabel2"
                                       [valorParametro]="valorParametro2"></app-card-info-puntual>
            </div>
            <div class="info-card">
                <app-card-info-puntual [parametroLabel]="parametroLabel3"
                                       [valorParametro]="valorParametro3"></app-card-info-puntual>
            </div>
        </div>
        <div class="tabla-metrica">
            <app-tabla-metrica [infoCard]="infoCard"
                               [tablaMetricasData]="tablaMetricasData">
            </app-tabla-metrica>
        </div>
        <div class="label-metrica">
            <h5>Métricas</h5>
        </div>
        <app-card-metricas [donoutChartValues]="donoutChartValues" 
                           [linearChartValues]="linearChartValues"
                           [barChartValues]="barChartValues">
        </app-card-metricas>
        <div class="label-metrica">
            <h5>Publicidad</h5>
        </div>
        <div class="card-metricas">
            <div class="info-card" *ngFor="let item of publicidadCardsData">
                <app-card-info-puntual [parametroLabel]="item.label"
                                       [valorParametro]="item.Value">
                </app-card-info-puntual>
            </div>
        </div>
        <div class="label-metrica">
            <h5>Publicidades</h5>
        </div>
        <div class="tabla-publicidad">
            <app-tabla-publicidad [tablaPublicidadData]="tablaPublicidadData"></app-tabla-publicidad>
        </div>
    </div>
</div>

