<app-navbar></app-navbar>
<div class="dashboard">
    <!-- <app-sidebar style="width: 25%;"></app-sidebar> -->
    <app-card-shop [infoCard]="infoCard" [calification]="getCalification(infoCard.seller.seller_reputation.level_id)" style="width: 25%;"></app-card-shop>
    <div class="content-page">
        <div class="buttons">
            <div class="button">
                <app-button-main buttonText="Actualizar"></app-button-main>
            </div>
            <div class="button">
                <app-button-main buttonText="Guardar"></app-button-main>
            </div>
        </div>
        <div class="info-cards">
            <div class="info-card">
                <app-card-info-puntual [parametroLabel]="parametroLabel1"
                                       [valorParametro]="valorParametro1"></app-card-info-puntual>
            </div>
            <div class="info-card">
                <app-card-info-puntual [parametroLabel]="parametroLabel2"
                                       [valorParametro]="valorParametro2"></app-card-info-puntual>
            </div>
            <div class="info-card">
                <app-card-info-puntual [parametroLabel]="parametroLabel3"
                                       [valorParametro]="valorParametro3"></app-card-info-puntual>
            </div>
        </div>
        <div class="tabla-metrica">
            <app-tabla-metrica [infoCard]="infoCard"></app-tabla-metrica>
        </div>
        <div class="label-metrica">
            <h5>Métricas</h5>
        </div>
        <div class="card-metricas">
            <app-card-metricas class="card-metrica"></app-card-metricas>
            <app-card-metricas class="card-metrica"></app-card-metricas>
            <app-card-metricas class="card-metrica"></app-card-metricas>
        </div>
    </div>
</div>

<!-- <div class="dashboard">
    <h3>COMPONENTES</h3>
    <br>
    <h5>Boton</h5>
    <app-button-main></app-button-main>
    <br>
    <br>
    <h5>Tabla Metrica</h5>
    <app-tabla-metrica></app-tabla-metrica>
    <br>
    <br>
    <h5>Tabla publicidad</h5>
    <app-tabla-publicidad></app-tabla-publicidad>
    <br>
    <br>
    <h5>Card de Shop</h5>
    <app-card-shop></app-card-shop>
    <br>
    <br>
    <h5>Card Info Puntual</h5>
    <app-card-info-puntual></app-card-info-puntual>
    <br>
    <br>
    <h5>Card Metrica</h5>
    <app-card-metricas></app-card-metricas>
    <br>
    <br>
</div> -->

